@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Tajawal:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  width: 150px; /* Increased width to fit text */
  height: 50px; /* Increased height for better proportion */
  font-size: 1.1em;
  font-weight: bold; /* Added for better text visibility */
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all .4s;
  display: inline-flex; /* To center text vertically and horizontally */
  align-items: center;
  justify-content: center;
  text-decoration: none; /* Remove underline from link */
}

.btn:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #f85959,
   0 15px 0 -4px #39a2db,
   0 16px 10px -3px #39a2db;
}

.btn:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #f85959,
   0 8px 0 -4px #39a2db,
   0 12px 10px -3px #39a2db;
}

/* --- Add your new classes below --- */

.grid-wrapper {
  min-height: 100%;
  width: 100%;
  position: relative;
  /* This color is the same as Tailwind's bg-gray-50 or bg-slate-50 */
  background-color: #f8fafc; 
}

.grid-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-image: linear-gradient(to right, #e2e8f0 1px, transparent 1px),
    linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);
  background-size: 20px 30px;
  -webkit-mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
}

.contact-bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      #fff 0%,
      #fff 40%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(to right, #0ed2da, #5f29c7);
  position: relative;
  overflow: hidden;
}

.contact-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(90deg, #ccc 1px, transparent 1px);
  background-size: 50px 100%;
  pointer-events: none;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}

* {
  cursor: none !important;
}

input,
textarea,
select {
  cursor: text !important;
}

.font-ar {
  font-family: 'Tajawal', sans-serif;
}
